@import url("https://fonts.googleapis.com/css2?family=Kenia&display=swap");
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
body {
  background-image: url(image/concert.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  padding-top: 50px;
}

html {
  scroll-behavior: smooth;
}
/* navbar start */
nav {
  display: flex;
  background-color: rgb(41, 40, 40);
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 60px;
  font-family: "Kenia", sans-serif;
  opacity: 0.7;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
}

.menu-list {
  display: flex;
  list-style: none;
  margin-right: 25px;
  padding: 10px;
}

.menu-list li a {
  padding: 15px 25px;
  color: white;
  font-size: 17px;
}

.menu-list li:hover {
  background-color: white;
  border-radius: 50px;
  padding-top: 2px;
}

.menu-list li a:hover {
  color: red;
}

nav .menu-list .dropdown {
  display: none;
}
nav ul li:hover .dropdown {
  display: block;
  background-color: rgb(41, 40, 40);
  border-radius: 15px;
  list-style: none;
  position: absolute;
  margin-top: 10px;
  padding-top: 10px;
  height: 50px;
}
nav .navbar img {
  width: 55px;
  height: 54px;
  border-radius: 60px;
}
/* navbar end */

/* hamburger menu start*/
.menu-icon {
  color: rgb(255, 255, 255);
  margin-right: 25px;
  font-size: 30px;
  display: none;
}
/* hamburger menu end*/

/* start main */

/* start intro */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 600px;
}
.intro h2 {
  color: rgb(107, 20, 20);
  font-weight: 900;
  font-size: 300px;
  font-family: "Kenia", sans-serif;
}
.intro p {
  color: rgb(107, 20, 20);
  font-weight: 900;
  font-size: 60px;
  font-family: "Kenia", sans-serif;
  margin-bottom: 90px;
}
/* end intro */

/* start profile and history */
.wrap {
  background-color: rgb(41, 40, 40);
  display: flex;
  justify-content: space-between;
}
.wrap #gambar1 img {
  width: 250px;
  border-radius: 25px;
  margin-top: 15px;
  margin-left: 50px;
}
.text-profile p {
  width: 55%;
  text-indent: 30px;
  margin: 50px 0 0 200px;
  font-size: 21px;
  color: white;
  font-family: "Kenia", sans-serif;
}

.wrap2 {
  background-color: rgb(41, 40, 40);
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.wrap2 #gambar2 img {
  width: 250px;
  height: 250px;
  border-radius: 25px;
  margin-top: 15px;
  margin-right: 50px;
  margin-bottom: 15px;
}
.text-history p {
  width: 55%;
  text-indent: 30px;
  margin: 50px 0 0 260px;
  text-align: start;
  font-size: 21px;
  color: white;
  font-family: "Kenia", sans-serif;
}
/* end profile and history*/

/* start konten */
/* start konten 1 */
.wrap-konten {
  background-color: rgb(75, 74, 74);
  display: grid;
  grid-template-columns: auto auto auto;
}
.wrap-konten #gambar-konten1 img {
  width: 250px;
  height: 250px;
  border-radius: 25px;
  margin-top: 15px;
  margin-right: 50px;
  margin-left: 100px;
  margin-bottom: 15px;
}
.wrap-konten .text-konten1 p {
  width: 50%;
  text-indent: 10px;
  margin-left: 100px;
  padding-bottom: 15px;
  text-align: start;
  font-size: 21px;
  color: white;
  font-family: "Kenia", sans-serif;
}
.wrap-konten .text-konten1 p a {
  color: black;
}
.wrap-konten .button1 button {
  margin-left: 150px;
  margin-bottom: 10px;
  border-radius: 25px;
  padding: 5px;
  box-shadow: 5px 5px;
}
.wrap-konten .button1 button a {
  font-size: 20px;
  font-family: "Kenia", sans-serif;
  color: black;
}
/* end konten 1 */
/* start konten 2 */
.wrap-konten #gambar-konten2 img {
  width: 250px;
  height: 250px;
  border-radius: 25px;
  margin-top: 15px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 15px;
}
.wrap-konten .text-konten2 p {
  width: 60%;
  text-indent: 10px;
  margin-left: 50px;
  padding-bottom: 15px;
  text-align: start;
  font-size: 21px;
  color: white;
  font-family: "Kenia", sans-serif;
}
.wrap-konten .text-konten2 p a {
  color: black;
}
.wrap-konten .button2 button {
  margin-left: 140px;
  margin-bottom: 10px;
  border-radius: 25px;
  padding: 5px;
  box-shadow: 5px 5px;
}
.wrap-konten .button2 button a {
  font-size: 20px;
  font-family: "Kenia", sans-serif;
  color: black;
}
/* end konten 2 */
/* start konten 3 */
.wrap-konten #gambar-konten3 img {
  width: 250px;
  height: 250px;
  border-radius: 25px;
  margin-top: 15px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 15px;
}
.wrap-konten .text-konten3 p {
  width: 65%;
  text-indent: 10px;
  margin-left: 50px;
  padding-bottom: 15px;
  text-align: start;
  font-size: 21px;
  color: white;
  font-family: "Kenia", sans-serif;
}
.wrap-konten .text-konten3 p a {
  color: black;
}
.wrap-konten .button3 button {
  margin-left: 140px;
  margin-bottom: 10px;
  border-radius: 25px;
  padding: 5px;
  box-shadow: 5px 5px;
}
.wrap-konten .button3 button a {
  font-size: 20px;
  font-family: "Kenia", sans-serif;
  color: black;
}

/* end konten 3 */
/* end konten */

/* start footer */
/* start credit */
.wrap-kaki {
  background-color: rgb(41, 40, 40);
  display: flex;
  justify-content: first baseline;
}
.wrap-kaki .rb p {
  font-family: "Kenia", sans-serif;
  padding-left: 50px;
  padding-top: 10px;
  font-size: 21px;
  color: white;
}
.wrap-kaki .credit p {
  font-family: "Kenia", sans-serif;
  padding-left: 50px;
  padding-top: 10px;
  font-size: 15px;
  color: white;
}
.wrap-kaki .design p {
  font-family: "Kenia", sans-serif;
  padding-left: 50px;
  padding-top: 10px;
  font-size: 15px;
  color: white;
}
/* end credit */
/* start sosmed */
.wrap-kaki .wrap-sosmed {
  padding-left: 800px;
  padding-top: 10px;
}
.wrap-sosmed .ig {
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: first baseline;
}
.wrap-sosmed .ig p a {
  color: white;
  font-size: 17px;
  font-family: "Kenia", sans-serif;
  padding-left: 10px;
}
.wrap-sosmed .email {
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: first baseline;
}
.wrap-sosmed .email p {
  color: white;
  font-size: 17px;
  font-family: "Kenia", sans-serif;
  padding-left: 10px;
}
.wrap-sosmed .wa {
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: first baseline;
}
.wrap-sosmed .wa p {
  color: white;
  font-size: 17px;
  font-family: "Kenia", sans-serif;
  padding-left: 10px;
}
/* responsive tablet and phone start */

/* responsive tablet and phone end */
