* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
/* navbar start */
nav {
  display: flex;
  background-color: #789;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 60px;
}

.menu-list {
  display: flex;
  list-style: none;
  margin-right: 25px;
  padding: 10px;
}

.menu-list li a {
  padding: 15px 25px;
  color: white;
  font-size: 17px;
}

.menu-list li:hover {
  background-color: white;
  border-radius: 50px;
}

.menu-list li a:hover {
  color: red;
}

nav .menu-list .dropdown {
  display: none;
}
nav ul li:hover .dropdown {
  display: block;
  background-color: #789;
  list-style: none;
  position: absolute;
  margin-top: 10px;
  height: 50px;
}
nav .navbar img {
  width: 55px;
  height: 54px;
  border-radius: 60px;
}
/* navbar end */

/* hamburger menu start*/

.menu-icon {
  color: rgb(255, 255, 255);
  margin-right: 25px;
  font-size: 30px;
  display: none;
}
/* hamburger menu end*/

/* responsive tablet and phone start */

@media only screen and (max-width: 768px) {
  nav {
    flex-wrap: wrap;
  }

  nav ul {
    flex-direction: column;
    width: 100%;
    margin-bottom: 5px;
    align-items: end;
  }

  nav ul li a {
    padding-bottom: 15px;
    transition: background-color 0.1s ease;
  }

  nav ul.hidden {
    display: none;
  }

  .menu-icon {
    display: flex;
    align-items: center;
  }
}
/* responsive tablet and phone end */
